html,
body {
  font: 400 1em sans-serif;
  padding: 0;
  margin: 0;
  color: #745758;
  background: #ffd0d0;
}
nav {
  border-bottom: 1px solid #e48080;
  border-top: 1px solid #e48080;
  margin: auto;
  position: relative;
  width: 800px;
}
a {
  color: #e48080;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  font: 600 3em sans-serif;
  color: #fff;
  margin: .5em 0;
  text-shadow: 1px 1px 6px #e48080;
}
img {
  display: block;
  margin: 0 auto 3em;
}
ul,
li {
  margin: 0 0 1em 0;
  padding-left: 1.25em;
}
.container {
  margin: auto;
  width: 800px;
}
.logo img {
  margin: 1em auto;
}
.nav-languages {
  position: absolute;
  right: 0;
  top: 0;
}
.nav-languages button {
  background: #c19b73;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  height: 3em;
  text-align: center;
  transition: background .2s linear;
  width: 10em;
}
.nav-languages button:hover {
  background: #e48080;
}
.nav-menu {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.nav-menu li {
  float: left;
  margin: 0 2.75em 0 0;
  padding: 15px 0;
}
